@mixin font-main {
	font-family: 'OpenSans-Regular', sans-serif;
}

@mixin font-bold {
	font-family: 'OpenSans-Semibold', sans-serif;
}

@mixin font-Bold {
	font-family: 'OpenSans-Bold', sans-serif;
}

@mixin font-light {
	font-family: 'OpenSans-Light', sans-serif;
}

.content-text__title {
  color: #333;
  @include font-Bold;
  font-size: 20px;

}

.b-content-text {
  @include font-main;
	font-size: 13px;
	margin-bottom: 30px;
	text-align: justify;
}

.column {
	width: 48% !important;
	text-indent: 3em;
}

.first {
	float: left !important;
}

.last {
	float: right !important;
}
