@mixin font-main {
	font-family: 'OpenSans-Regular', sans-serif;
}

@mixin font-bold {
	font-family: 'OpenSans-Semibold', sans-serif;
}

@mixin font-Bold {
	font-family: 'OpenSans-Bold', sans-serif;
}

@mixin font-light {
	font-family: 'OpenSans-Light', sans-serif;
}

@mixin list-off {
	padding: 0;
	margin: 0;
	list-style: none;
}

@mixin border-radius-5 {
	-moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

@mixin border-radius-3 {
	-moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#b-catalog {
	width: 740px;
	float: right;
}

.b-wrap-catalog-switch {
  float: right;
}

.b-catalog-switch {
	background-color: #e4ebee;
  @include border-radius-5;
	@include font-main;
	font-size: 14px;
	margin-bottom: 20px;
  border: 1px solid #dee1e4;
  position: relative;
}

.b-form-wrap {
  float: left;
}

.catalog-switch__label {
	display: block;
}

.catalog-switch__label_mod {
  margin: 12px 0 0 20px;
}

.catalog-switch__select {
  width: 140px;
  height: 28px;
  @include border-radius-5;
  border: transparent;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}


.catalog-switch__text {
  color: #5d656c;
}

.catalog-switch__text_mod-right {
	position: absolute;
	top: 17px;
	right: 170px;
}

.catalog-switch__item {
	float: left;
	cursor: pointer;
	border-left: 1px solid #dee1e4;
  width: 52px;
}

.catalog-switch__link {
  display: block;
  width: 16px;
  height: 16px;
  margin: 18px 18px;
}

.catalog-switch__link_mod-left {
  background: url(../img/sprite-view-cat.png) no-repeat 0 -20px;
}

.catalog-switch__link_mod-center{
  background: url(../img/sprite-view-cat.png) no-repeat -20px -20px;
}

.catalog-switch__link_mod-right  {
  background: url(../img/sprite-view-cat.png) no-repeat -40px -20px;
}

.catalog-switch__item:hover .catalog-switch__link_mod-left,
.catalog-switch__item.active .catalog-switch__link_mod-left {
  background: url(../img/sprite-view-cat.png) no-repeat 0 0;
}

.catalog-switch__item:hover .catalog-switch__link_mod-center,
.catalog-switch__item.active .catalog-switch__link_mod-center {
  background: url(../img/sprite-view-cat.png) no-repeat -20px 0;
}

.catalog-switch__item:hover .catalog-switch__link_mod-right,
.catalog-switch__item.active .catalog-switch__link_mod-right {
  background: url(../img/sprite-view-cat.png) no-repeat -40px 0;
}

.b-catalog-content {
  @include border-radius-5;
  border: 1px solid #dee1e4;
	background-color: #fff;
  overflow: hidden;
}

.catalog-content__item {
	display: none;
}

.catalog-content__item.active {
	display: block;
}

.catalog-content__list-1 {
  @include list-off;
}

.catalog-content__elem-1 {
  width: 100%;
	height: 50px;
  background-color: #fbfbfb;
  border-top: 1px solid #dee1e4;

  &:hover {
    border: 1px solid #ff6600;
  }
}

.catalog-content__link-1 {
	display: block;
}

.b-slideshow {
	float: left;
	width: 140px;
}

.slideshow_mod {
	margin: 20px 0 0 25px;
}

.b-slideshow-main {
	width: 135px;
	height: 135px;
	border: 1px solid #dee1e4;
	position: relative;
	margin-bottom: 15px;
	@include border-radius-3;
}

.slideshow-main__img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.slideshow__list {
	@include list-off;
}

.slideshow__item {
	float: left;
	margin-left: 15px;
	width: 35px;
	height: 35px;
	border: 1px solid #dee1e4;
	@include border-radius-3;

	&:first-child {
		margin-left: 0;
	}

	&:hover {
		border: 1px solid #ff6600;
	}
}

.slideshow__link {
	display: block;
	width: 35px;
	height: 35px;
}

.slideshow__img  {
	display: block;
	margin: 3px auto;
}

.slideshow__text-art {
	@include font-bold;
	font-size: 15px;
	color: #7f7f7f;
	text-align: center;
}

.slideshow__text-art span {
	color: #141416;
}

.b-desc-merch {
	float: left;
	width: 350px;
	@include font-bold;
	font-size: 12px;
}

.desc-merch_mod {
	margin-left: 20px;
}

.desc-merch__title {
	@include font-bold;
	font-size: 16px;
}

.desc-merch__text {
	@include font-bold;
	font-size: 12px;
	width: auto;
}

.desc-merch__list {
	@include list-off;
	float: left;
}

.desc-merch__list_mod {
	margin-right: 15px;
	margin-top: 2px;
}

.desc-merch__item {
	float: left;
	display: block;
	width: 16px;
	height: 14px;
	cursor: pointer;
	background: url(../img/zv-k.png);
}

.desc-merch__class {
	width: 30px;
	background-color: #b5beca;
	color: #fff;
	border-radius: 10px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.desc-merch__class-text {
	font-size: 12px;
}

.b-price-basket {
	float: left;
	width: 140px;
	@include font-bold;
	font-size: 12px;
	position: relative;
}

.b-price-basket:before {
	content: "";
	width: 1px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #dee1e4;
}

.price-basket_mod {
	margin: 20px 0 0 50px;
}

.price-basket__text {
	@include font-Bold;
	font-size: 18px;
	margin: 0;
}

.price-basket__text_mod {
	margin: 10px 0 0 60px;
}

.price-basket__btn {
	background-color: #ff6e35;
	color: #fff;
	border: none;
	@include border-radius-5;
	padding: 5px 15px;
}

.price-basket__btn_mod {
	margin: 115px 0 0 25px;
	@include font-bold;
	font-size: 14px;
}

.price-basket__nality_mod {
	margin-left: 50px;
	position: relative;
	@include font-bold;
	font-size: 14px;
	color: #7f7f7f;
}

.price-basket__nality:before {
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	top: 6px;
	left: -15px;
	border-radius: 50%;
	background-color: #60ac49;
}

.catalog-content__list-2 {
  @include list-off;
}

.catalog-content__elem-2 {
  width: 100%;
  background-color: #fbfbfb;
	border: 1px solid #fbfbfb;
	position: relative;

	&:first-child {
		-moz-border-radius: 5px 5px 0 0;
	  -ms-border-radius: 5px 5px 0 0;
	  -o-border-radius: 5px 5px 0 0;
	  border-radius: 5px 5px 0 0;
	}

	&:first-last {
		-moz-border-radius: 0 0 5px 5px;
	  -ms-border-radius: 0 0 5px 5px;
	  -o-border-radius: 0 0 5px 5px;
	  border-radius: 0 0 5px 5px;
	}

  &:hover {
    border: 1px solid #ff6600;
		z-index: 2;
  }

	&:before {
		content: "";
		width: 740px;
		height: 1px;
		position: absolute;
		top: -2px;
		left: -2px;
		background-color: #dee1e4;
		z-index: 1px;
	}
}

.catalog-content__link-2 {

}

.catalog-content__list-3 {
  @include list-off;
}

.catalog-content__elem-3 {
  float: left;
  width: 233px;
  height: 510px; // убрать !!!!!!!!!
  border: 1px solid #dee1e4;
  @include border-radius-5;
  background-color: #fbfbfb;
	margin-left: 20px;

	&:hover {
    border: 1px solid #ff6600;
  }

  &:first-child {
    margin-left: 0;
	}
}

.catalog-content__elem-3:nth-child(4n+1) {
	margin-right: 0 !important;
}
