@mixin font-main {
	font-family: 'OpenSans', sans-serif;
}
@mixin font-bold {
	font-family: 'OpenSans SemiBold', sans-serif;
}

.content-text__title {
  color: #333;
  @include font-bold;
  font-size: 18px;

}

.b-content-text {
  font-size: 13px;
  @include font-main;
	margin-bottom: 30px;
	text-align: justify;
}

.column {
	width: 48% !important;
	text-indent: 3em;
}

.first {
	float: left !important;
}

.last {
	float: right !important;
}
