@mixin font-main {
	font-family: 'OpenSans-Regular', sans-serif;
}

@mixin font-bold {
	font-family: 'OpenSans-Semibold', sans-serif;
}

@mixin font-Bold {
	font-family: 'OpenSans-Bold', sans-serif;
}

@mixin font-light {
	font-family: 'OpenSans-Light', sans-serif;
}

@mixin list-off {
	padding: 0;
	margin: 0;
	list-style: none;
}

$main-color: #ff6600;
$bg-color: #f4f4f4;
$border-color: #ebedef;
$element-color: #fff;
$input-color: #7f7f7f;
$link-color: #333;

.b-header {
	min-width: 1110px;
  background-color: $element-color;
}

.b-header_mod {
	margin-bottom: 30px;
}

.header-contact__socials {
  float: left;
  margin: 25px 0;
}

.header-contact__socials-list {
  @include list-off;
}

.header-contact__socials-item {
  display: block;
	width: 26px;
	height: 26px;
	float: left;
  margin-left: 15px;

	&:first-child {
	  margin-left: 0;
	}
}

.header-contact__socials-link  {
  display: block;
	width: 26px;
	height: 26px;
}

.header-contact__socials-link_fb {
  background: url(../img/sprite-soc-header.png) 0 0;

  &:hover {
    background: url(../img/sprite-soc-header.png) 0 -26px;
  }
}

.header-contact__socials-link_b {
  background: url(../img/sprite-soc-header.png) -26px 0;

  &:hover {
    background: url(../img/sprite-soc-header.png) -26px 26px;
  }
}

.header-contact__socials-link_tw {
	background: url(../img/sprite-soc-header.png) 26px 0;

  &:hover {
    background: url(../img/sprite-soc-header.png) 26px -26px;
  }
}

.header-contact__adress {
  background: url(../img/sprite-cont.png) 0 4px no-repeat;
}

.header-contact__adress_mod {
  float: right;
  margin-top: 30px;
}

.header-contact__adress-adr {
  color: $link-color;
  margin-left: 20px;
  @include font-main;
  font-size: 14px;
}

.header-contact__phone {
  background: url(../img/sprite-cont.png) 0 -16px no-repeat;
}

.header-contact__phone_mod {
  float: right;
  margin: 30px 0 0 85px;
}

.header-contact__phone-link {
	text-decoration: none;
	color: $link-color;
	@include font-bold;
  font-size: 16px;
}

.header-contact__phone-number {
  margin-left: 20px;
}

.b-header-search {
  background-color: $bg-color;
  padding: 25px;
  border-top: 2px solid $border-color;
}

.header-search__logo {
  float: left;
}

.header-search__form {
  float: left;
  margin-top: 5px;
}

.header-search__form_mod {
  margin-left: 60px;
}

.header-search__form-input {
  width: 285px;
  height: 32px;
  padding-left: 15px;
  -webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
  background-color: #fbfbfb;
	border-radius: 3px 0 0 3px;
  border: 1px solid $border-color;
}

.header-search__form-btn {
  color: $element-color;
  background-color: $main-color;
  margin-left: -5px;
  padding: 4px 15px 5px;
  -webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
  @include font-bold;
  font-size: 16px;
  cursor: pointer;

  &:hover {
		background: lighten($main-color, 10%);
  }

  &:active {
		background: darken($main-color, 10%);
  }
}

::-webkit-input-placeholder {
  color: $input-color;
  @include font-light;
  font-size: 14px;
}

::-moz-placeholder {
  color: $input-color;
  @include font-light;
  font-size: 14px;
}

:-moz-placeholder {
  color: $input-color;
  @include font-light;
  font-size: 14px;
}

:-ms-input-placeholder {
  color: $input-color;
  @include font-light;
  font-size: 14px;
}

.header-search__nav {
  float: right;
  margin-top: 10px;
}

.header-search__nav-list {
  @include list-off;
}

.header-search__nav-item {
  float: left;
  margin-left: 50px;

  &:first-child {
    margin-left: 0;
  }
}

.header-search__nav-link {
  color: $link-color;
  @include font-bold;
  font-size: 16px;

  &:hover {
    text-decoration: none;
  }

  &:active {
    color: $main-color;
  }
}

.b-header-nav {
  background-color: $element-color;
  border-bottom: 2px solid $border-color;
}

.header-nav__menu {
  @include list-off;
}

.header-nav__menu_mod {
  margin-left: 25px;
}

.header-nav__menu-item {
  float: left;
  line-height: 45px;

	&:nth-child(2) a {
		background-color: $main-color;
		color: $element-color;
	}
}

.header-nav__menu-link {
  display: block;
  color: $link-color;
  text-decoration: none;
  padding: 0 15px;
  line-height: 45px;
  @include font-bold;
  font-size: 15px;

  &:hover {
    background-color: #e4e2e2;
  }

  &:active {
    background-color: $main-color;
    color: $element-color;
    @include font-bold;
    font-size: 15px;
  }
}

.header-nav__menu-text {
	line-height: 45px;
}
