.b-content-text {
  font-size: 13px;
  font-family: 'OpenSans', sans-serif;
  margin-bottom: 30px; }

.content-text__title {
  color: #333;
  font-family: 'OpenSans SemiBold', sans-serif;
  font-size: 18px; }

.content-text__col {
  text-indent: 3em; }
