@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.container {
  max-width: 1100px;
  margin: 0 auto; }

.hidden-text {
  text-indent: -9999px; }

.b-header {
  min-width: 1110px;
  background-color: #fff; }

.b-header_mod {
  margin-bottom: 30px; }

.header-contact__socials {
  float: left;
  margin: 25px 0; }

.header-contact__socials-list {
  padding: 0;
  margin: 0;
  list-style: none; }

.header-contact__socials-item {
  display: block;
  width: 26px;
  height: 26px;
  float: left;
  margin-left: 15px; }

.header-contact__socials-item:first-child {
  margin-left: 0; }

.header-contact__socials-link {
  display: block;
  width: 26px;
  height: 26px; }

.header-contact__socials-link_fb {
  background: url(../img/sprite-soc-header.png) 0 0; }

.header-contact__socials-link_fb:hover {
  background: url(../img/sprite-soc-header.png) 0 -26px; }

.header-contact__socials-link_b {
  background: url(../img/sprite-soc-header.png) -26px 0; }

.header-contact__socials-link_b:hover {
  background: url(../img/sprite-soc-header.png) -26px 26px; }

.header-contact__socials-link_tw {
  background: url(../img/sprite-soc-header.png) 26px 0; }

.header-contact__socials-link_tw:hover {
  background: url(../img/sprite-soc-header.png) 26px -26px; }

.header-contact__adress {
  background: url(../img/sprite-cont.png) 0 2px no-repeat; }

.header-contact__adress_mod {
  float: right;
  margin-top: 30px; }

.header-contact__adress-adr {
  color: #333;
  margin-left: 20px;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px; }

.header-contact__phone {
  background: url(../img/sprite-cont.png) 0 -16px no-repeat; }

.header-contact__phone_mod {
  float: right;
  margin: 30px 0 0 85px; }

.header-contact__phone-link {
  text-decoration: none;
  color: #333;
  font-family: 'OpenSans SemiBold', sans-serif;
  font-size: 16px; }

.header-contact__phone-number {
  margin-left: 20px; }

.b-header-search {
  background-color: #f4f4f4;
  padding: 25px;
  border-top: 2px solid #ebedef; }

.header-search__logo {
  float: left; }

.header-search__form {
  float: left;
  margin-top: 5px; }

.header-search__form_mod {
  margin-left: 60px; }

.header-search__form-input {
  width: 285px;
  height: 32px;
  padding-left: 15px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  background-color: #fbfbfb;
  border-radius: 3px 0 0 3px;
  border: 1px solid #ebedef; }

.header-search__form-btn {
  color: #fff;
  background-color: #ff6600;
  margin-left: -5px;
  padding: 7px 15px 8px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  font-family: 'OpenSans SemiBold', sans-serif;
  font-size: 16px;
  cursor: pointer; }

.header-search__form-btn:hover {
  background: #ff8533; }

.header-search__form-btn:active {
  background: #ffa366; }

::-webkit-input-placeholder {
  color: #7f7f7f;
  font-family: 'OpenSans Light', sans-serif;
  font-size: 14px; }

::-moz-placeholder {
  color: #7f7f7f;
  font-family: 'OpenSans Light', sans-serif;
  font-size: 14px; }

:-moz-placeholder {
  color: #7f7f7f;
  font-family: 'OpenSans Light', sans-serif;
  font-size: 14px; }

:-ms-input-placeholder {
  color: #7f7f7f;
  font-family: 'OpenSans Light', sans-serif;
  font-size: 14px; }

.header-search__nav {
  float: right;
  margin-top: 10px; }

.header-search__nav-list {
  padding: 0;
  margin: 0;
  list-style: none; }

.header-search__nav-item {
  float: left;
  margin-left: 50px; }

.header-search__nav-item:first-child {
  margin-left: 0; }

.header-search__nav-link {
  color: #333;
  font-family: 'OpenSans SemiBold', sans-serif;
  font-size: 16px; }

.header-search__nav-link:hover {
  text-decoration: none; }

.header-search__nav-link:active {
  color: #ff6600; }

.b-header-nav {
  background-color: #fff;
  border-bottom: 2px solid #ebedef; }

.header-nav__menu {
  padding: 0;
  margin: 0;
  list-style: none; }

.header-nav__menu_mod {
  margin-left: 25px; }

.header-nav__menu-item {
  float: left;
  line-height: 45px; }

.header-nav__menu-link {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 0 15px;
  line-height: 45px;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px; }

.header-nav__menu-link:hover {
  background-color: #e4e2e2; }

.header-nav__menu-link:active {
  background-color: #ff6600;
  color: #fff;
  font-family: 'OpenSans SemiBold', sans-serif;
  font-size: 16px; }

.header-nav__menu-text {
  line-height: 45px; }

.wrapper {
  min-width: 1110px;
  min-height: 100%;
  overflow: hidden;
  position: relative; }

.b-maincontent-wrap {
  margin-bottom: 50px; }

.empty {
  height: 220px; }

.b-sidebar {
  width: 330px;
  float: left; }

.breadcrumbs__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.breadcrumbs__item {
  float: left;
  margin-left: 5px;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px; }

.breadcrumbs__item:first-child {
  margin-left: 0; }

.breadcrumbs__item:first-child:after {
  content: ">";
  margin-left: 5px; }

.breadcrumbs__link {
  text-decoration: none;
  color: #585858; }

.breadcrumbs__link:hover {
  text-decoration: underline; }

.breadcrumbs__link:active {
  text-decoration: underline;
  color: #ff6600; }

.b-breadcrumbs-wrap__title {
  font-family: 'OpenSans SemiBold', sans-serif;
  font-size: 20px;
  margin-bottom: 30px; }

.b-choice {
  width: 100%;
  background-color: #fbfbfb;
  border: 1px solid #dee1e4;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 40px; }

.range__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.range__item {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  padding: 15px 0 15px 30px; }

.range__item:first-child {
  border-bottom: 1px solid #dee1e4; }

.range__item:hover {
  background: white; }

.range__item:active {
  background-color: #d9e5ea; }

.range__link {
  text-decoration: none;
  color: #585858; }

.b-accordeon-wrap {
  border: 1px solid #dee1e4;
  overflow: hidden;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.b-accordeon {
  max-width: 100%;
  background-color: #fbfbfb;
  margin: -17px 0; }

.accordeon__trigger {
  text-decoration: none;
  display: block;
  color: #585858;
  line-height: 50px;
  margin-left: 0;
  padding: 0; }

.accordeon__trigger:hover {
  background: white; }

.accordeon__trigger:active {
  background-color: #d9e5ea; }

.accordeon__inner {
  display: none;
  padding: 0; }

.accordeon__list {
  margin-left: -40px; }

.accordeon__item {
  border-bottom: 1px solid #dee1e4;
  max-width: 100%;
  margin-left: 0px;
  list-style-type: none; }

.box__list_mod {
  width: 235px;
  list-style-type: none;
  margin: 0 -1px -1px 0; }

.box__list_mod {
  margin: 0 0 -5px 10px; }

.box__item_mod {
  margin: 0 0 20px 20px; }

.box__item {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid #dee1e4; }

.box__item:focus,
.box__item :active:focus {
  outline-color: 2px solid #fdac75; }

.box__item:nth-child(1) {
  background-color: #fff; }

.box__item:nth-child(2) {
  background-color: #ccc; }

.box__item:nth-child(3) {
  background-color: #000; }

.box__item:nth-child(4) {
  background-color: #0a3153; }

.box__item:nth-child(5) {
  background-color: #ff1800; }

.box__item:nth-child(6) {
  background-color: #fff343; }

.box__item:nth-child(7) {
  background-color: #fb914a; }

.box__item:nth-child(8) {
  background-color: #92c37c; }

.box__item:nth-child(9) {
  background-color: #40a6ff; }

.box__item:nth-child(10) {
  background-color: #9870ad; }

.box__item:nth-child(11) {
  background-color: #dc78ad; }

.box__item:nth-child(12) {
  background-color: #7f401d; }

.accordeon__text {
  margin-left: 30px;
  font-family: 'OpenSans SemiBold', sans-serif;
  font-size: 16px; }

.form__input {
  margin: 2px 10px 0 30px;
  float: left; }

.form__text {
  display: block;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px; }

.form-btn-wrap {
  margin-bottom: 20px; }

.form-button_mod {
  margin-bottom: 20px; }

.form-button {
  color: #90c7fc;
  margin: 0  0 20px 30px;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px; }

.form-button:hover {
  text-decoration: none; }

.form-button:active {
  color: #ff6600; }

#b-catalog {
  width: 740px;
  float: right; }

.b-wrap-catalog-switch {
  float: right; }

.b-catalog-switch {
  background-color: #e4ebee;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid #dee1e4;
  position: relative; }

.b-form-wrap {
  float: left; }

.catalog-switch__label_mod {
  margin-left: 20px; }

.catalog-switch__select {
  width: 140px;
  height: 28px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: transparent;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); }

.catalog-switch__select_mod {
  margin-top: 12px; }

.catalog-switch__text {
  color: #5d656c; }

.catalog-switch__text_mod-right {
  position: absolute;
  top: 17px;
  right: 180px; }

.catalog-switch__item {
  float: left;
  cursor: pointer;
  border-left: 1px solid #dee1e4;
  width: 52px; }

.catalog-switch__link {
  display: block;
  width: 16px;
  height: 16px;
  margin: 18px 18px; }

.catalog-switch__link_mod-left {
  background: url(../img/sprite-view-cat.png) no-repeat 0 -20px; }

.catalog-switch__link_mod-left:active {
  background: url(../img/sprite-view-cat.png) no-repeat 0 0; }

.catalog-switch__link_mod-center {
  background: url(../img/sprite-view-cat.png) no-repeat -20px -20px; }

.catalog-switch__link_mod-center:active {
  background: url(../img/sprite-view-cat.png) no-repeat -20px 0; }

.catalog-switch__link_mod-right {
  background: url(../img/sprite-view-cat.png) no-repeat -40px -20px; }

.catalog-switch__link_mod-right:active {
  background: url(../img/sprite-view-cat.png) no-repeat -40px 0; }

.catalog-switch__item:hover,
.catalog-switch__item.active {
  background-color: #c7e7f9;
  color: #1d7ee4; }

.b-catalog-content {
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dee1e4;
  background-color: #fff; }

.catalog-content__item {
  display: none; }

.catalog-content__item.active {
  display: block; }

.catalog-content__list-1 {
  padding: 0;
  margin: 0;
  list-style: none; }

.catalog-content__elem-1 {
  width: 100%;
  height: 50px;
  background-color: #fbfbfb;
  border-top: 1px solid #dee1e4; }

.catalog-content__elem-1:first-child {
  border-top: none; }

.catalog-content__elem-1:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); }

.catalog-content__list-2 {
  padding: 0;
  margin: 0;
  list-style: none; }

.catalog-content__elem-2 {
  width: 100%;
  height: 245px;
  background-color: #fbfbfb;
  border-top: 1px solid #dee1e4; }

.catalog-content__elem-2:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); }

.catalog-content__list-3 {
  padding: 0;
  margin: 0;
  list-style: none; }

.catalog-content__elem-3 {
  float: left;
  width: 233px;
  height: 510px;
  border: 1px solid #dee1e4;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #fbfbfb;
  margin: 0 12px 20px 0; }

.catalog-content__elem-3:first-child {
  margin-left: 0; }

.catalog-content__elem-3:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); }

.b-content-text {
  -moz-column-count: 2;
  /* Для Firefox */
  -webkit-column-count: 2;
  /* Для Safari и Chrome */
  column-count: 2;
  font-size: 13px;
  font-family: 'OpenSans', sans-serif;
  text-align: justify;
  margin-bottom: 30px; }

.content-text__title {
  color: #333;
  font-family: 'OpenSans SemiBold', sans-serif;
  font-size: 18px; }

.content-text__col {
  text-indent: 3em; }

.footer {
  background: url(../img/bg.png) #373737;
  min-width: 1110px;
  color: #687078;
  height: 220px;
  margin-top: -220px;
  position: relative;
  font-family: 'OpenSans', sans-serif; }

.b-footer-left {
  float: left; }

.b-footer__logo-img_mod {
  margin: 70px 0 80px 0; }

.b-footer-right {
  float: right; }

.b-footer-socials {
  float: right;
  margin: 35px 0 30px 0; }

.b-footer-socials__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.b-footer-socials__item:first-child {
  margin-left: 0; }

.b-footer-socials__item {
  display: block;
  width: 43px;
  height: 44px;
  float: left;
  margin-left: 30px; }

.b-footer-socials__link {
  display: block;
  width: 43px;
  height: 44px; }

.b-footer-socials__link_fb {
  background: url(../img/sprite-soc-footer.png) 0 0; }

.b-footer-socials__link_fb:hover {
  background: url(../img/sprite-soc-footer.png) 0 -47px; }

.b-footer-socials__link_b {
  background: url(../img/sprite-soc-footer.png) -47px 0; }

.b-footer-socials__link_b:hover {
  background: url(../img/sprite-soc-footer.png) -47px 43px; }

.b-footer-socials__link_tw {
  background: url(../img/sprite-soc-footer.png) 43px 0; }

.b-footer-socials__link_tw:hover {
  background: url(../img/sprite-soc-footer.png) 43px -47px; }

.b-footer-nav {
  width: 530px;
  float: right;
  clear: right; }

.b-footer-nav__menu {
  padding: 0;
  margin: 0;
  list-style: none; }

.b-footer-nav__menu__item:first-child {
  margin-left: 175px; }

.b-footer-nav__menu__item {
  float: left;
  margin-left: 22px; }

.b-footer-nav__menu__link {
  display: block;
  padding: 0 0 20px 0;
  color: #fff;
  font-size: 14px; }

.b-footer-nav__menu__link:hover {
  text-decoration: none; }

.b-footer-nav__menu__link:active {
  color: #ff6600; }

.b-footer-copyright {
  clear: both;
  border-top: 1px solid #494949;
  padding: 8px 0; }

.b-footer-copyright__text {
  color: #fff;
  text-align: center;
  font-size: 12px; }
