doctype html
html(lang="ru")
head
  meta(charset="UTF-8")
  title my~online~store
  link(rel="stylesheet", href="bower/normalize-css/normalize.css")
  link(rel="stylesheet", href="css/main.css")
  link(rel="stylesheet", href="css/fonts.css")
body
  include  _common/_header.jade
  
  
