doctype html
html(lang="ru")
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE-edge")
  meta(name="viewport" width="1230" content="width=device-width, initial-scale=1")
  meta(name="description" content="Услуги по созданию сайтов")
  meta(name="keywords" content="WEB разработка, WEB development, верстка сайтов")
  meta(name="author" content="Антон Черкасов")
  title my~online~store
  link(rel="shortcut icon" href="img/icon-title.png" type="image/png")
  link(rel="stylesheet", href="bower/normalize-css/normalize.css")
  link(rel="stylesheet", href="lib/jquery-ui/jquery-ui.css")
  link(rel="stylesheet", href="lib/select2/dist/css/select2.css")
  link(rel="stylesheet", href="css/main.css")
  link(rel="stylesheet", href="css/fonts.css")
  script(src="bower/html5shiv/dist/html5shiv.js")
body    
  .wrapper
    include  _common/_header.jade 
    .container  
      section.b-maincontent-wrap.clearfix 
        include  _common/_sidebar.jade  
        include  _common/_content-main.jade  
      include  _common/_content-text.jade
  .empty  
  include  _common/_footer.jade
  script(src="bower/jquery/jquery.js") 
  script(src="lib/jquery-ui/jquery-ui.js")
  script(src="lib/select2/dist/js/select2.js")
  script(src="lib/columnizer/src/jquery.columnizer.js")
  script(src="js/accordeon.js")
  script(src="js/content.js")
  script(src="js/slideshow.js")
  script(src="js/slider.js")
  script(src="js/select2.js")
  script(src="js/colomnizer.js")
  script(src="js/last.js")
  script(src="js/main.js")
  
  
