#b-catalog
  .b-catalog-switch.clearfix
    .b-form-wrap
      form(action="#" method="post")
        label.catalog-switch__label.catalog-switch__label_mod 
          span.catalog-switch__text Сортировать по
          select(name="").catalog-switch__select.catalog-switch__select_mod 
            option по цене 
            option по цене
            option по цене
    span.catalog-switch__text.catalog-switch__text_mod-right Вид каталога
    .b-wrap-catalog-switch.clearfix 
      .catalog-switch__item.active
        a(href="#").catalog-switch__link.catalog-switch__link_mod-left  
      .catalog-switch__item
        a(href="#").catalog-switch__link.catalog-switch__link_mod-center  
      .catalog-switch__item
        a(href="#").catalog-switch__link.catalog-switch__link_mod-right   
  .b-catalog-content
    .catalog-content__item.active
      ul.catalog-content__list-1
        li.catalog-content__elem-1
          a(href="#").catalog-content__link-1 
        li.catalog-content__elem-1
          a(href="#").catalog-content__link-1 
        li.catalog-content__elem-1
          a(href="#").catalog-content__link-1 
        li.catalog-content__elem-1
          a(href="#").catalog-content__link-1 
        li.catalog-content__elem-1
          a(href="#").catalog-content__link-1  
        li.catalog-content__elem-1
          a(href="#").catalog-content__link-1 
        li.catalog-content__elem-1
          a(href="#").catalog-content__link-1 
        li.catalog-content__elem-1
          a(href="#").catalog-content__link-1 
        li.catalog-content__elem-1
          a(href="#").catalog-content__link-1            
    .catalog-content__item
      ul.catalog-content__list-2
        li.catalog-content__elem-2.clearfix          
          .b-slideshow.slideshow_mod
            .b-slideshow-main
              img(src="img/phone-1.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              li.slideshow__item.slideshow__item_mod     
                a(href="#").slideshow__link  
                  img(src="img/phone-1-1.png", alt="#").slideshow__img 
              li.slideshow__item     
                a(href="#").slideshow__link  
                  img(src="img/phone-1-2.png", alt="#").slideshow__img  
              li.slideshow__item     
                a(href="#").slideshow__link  
                  img(src="img/phone-1-3.png", alt="#").slideshow__img  
            p.slideshow__text-art Артикул 
              span 189238  
          .b-desc-merch.desc-merch_mod
            h5.desc-merch__title Samsung GT-I9301I GALAXY S 3 
            p.desc-merch__text 
              | Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White
              | Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, 
              | EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, 
              | Частота процессора 1400 МГц 
            ul.desc-merch__list.clearfix
              li.desc-merch__item
                a.desc-merch__link
              li.desc-merch__item
                a.desc-merch__link 
              li.desc-merch__item
                a.desc-merch__link 
              li.desc-merch__item
                a.desc-merch__link
              li.desc-merch__item
                a.desc-merch__link  
            .desc-merch__class.desc-merch__class_mod 4                  
          .b-price-basket.price-basket_mod
            p.price-basket__text.price-basket__text_mod 11290 P
            button.price-basket__btn.price-basket__btn_mod В корзину
            p.price-basket__nality.price-basket__nality_mod В наличии                                          
        li.catalog-content__elem-2
          a(href="#").catalog-content__link-2
        li.catalog-content__elem-2
          a(href="#").catalog-content__link-2
        li.catalog-content__elem-2
          a(href="#").catalog-content__link-2
        li.catalog-content__elem-2
          a(href="#").catalog-content__link-2
        li.catalog-content__elem-2
          a(href="#").catalog-content__link-2 
        li.catalog-content__elem-2
          a(href="#").catalog-content__link-2
        li.catalog-content__elem-2
          a(href="#").catalog-content__link-2
        li.catalog-content__elem-2
          a(href="#").catalog-content__link-2  
    .catalog-content__item
      ul.catalog-content__list-3.clearfix
        li.catalog-content__elem-3
          a(href="#").catalog-content__link-3
        li.catalog-content__elem-3
          a(href="#").catalog-content__link-3
        li.catalog-content__elem-3
          a(href="#").catalog-content__link-3
        li.catalog-content__elem-3
          a(href="#").catalog-content__link-3
        li.catalog-content__elem-3
          a(href="#").catalog-content__link-3
        li.catalog-content__elem-3
          a(href="#").catalog-content__link-3
        li.catalog-content__elem-3
          a(href="#").catalog-content__link-3
        li.catalog-content__elem-3
          a(href="#").catalog-content__link-3
        li.catalog-content__elem-3
          a(href="#").catalog-content__link-3  
