#b-catalog
  .b-catalog-switch.clearfix
    .b-form-wrap
      form(action="#" method="post")
        label.catalog-switch__label.catalog-switch__label_mod 
          span.catalog-switch__text Сортировать по
          select(name="").catalog-switch__select.catalog-switch__select_mod 
            option по цене 
            option по цене
            option по цене
    span.catalog-switch__text.catalog-switch__text_mod-right Вид каталога
    .b-wrap-catalog-switch.clearfix 
      .catalog-switch__item.active
        a(href="#").catalog-switch__link.catalog-switch__link_mod-left  
      .catalog-switch__item
        a(href="#").catalog-switch__link.catalog-switch__link_mod-center  
      .catalog-switch__item
        a(href="#").catalog-switch__link.catalog-switch__link_mod-right   
  .b-catalog-content
    .catalog-content__item.active
      ul.catalog-content__list-1
        li.catalog-content__elem-1
          a(href="#").catalog-content__link-1
        li.catalog-content__elem-1
          a(href="#").catalog-content__link-1
        li.catalog-content__elem-1
          a(href="#").catalog-content__link-1
        li.catalog-content__elem-1
          a(href="#").catalog-content__link-1
        li.catalog-content__elem-1
          a(href="#").catalog-content__link-1
        li.catalog-content__elem-1
          a(href="#").catalog-content__link-1 
        li.catalog-content__elem-1
          a(href="#").catalog-content__link-1
        li.catalog-content__elem-1
          a(href="#").catalog-content__link-1
        li.catalog-content__elem-1
          a(href="#").catalog-content__link-1           
    .catalog-content__item
      ul.catalog-content__list-2
        li.catalog-content__elem-2
          a(href="#").catalog-content__link-2
            .b-slideshow
              .b-slideshow-main
                img(src="img/phone-1.png").slideshow-main__img   
              ul.slideshow__list.clearfix
                li.slideshow__item.slideshow__item_mod     
                  a(href="#").slideshow__link  
                    img(src="img/phone-1-1.png", alt="#").slideshow__img 
                li.slideshow__item     
                  a(href="#").slideshow__link  
                    img(src="img/phone-1-2.png", alt="#").slideshow__img  
                li.slideshow__item     
                  a(href="#").slideshow__link  
                    img(src="img/phone-1-3.png", alt="#").slideshow__img  
              p Артикул 
                span 189238                      
        li.catalog-content__elem-2
          a(href="#").catalog-content__link-2
        li.catalog-content__elem-2
          a(href="#").catalog-content__link-2
        li.catalog-content__elem-2
          a(href="#").catalog-content__link-2
        li.catalog-content__elem-2
          a(href="#").catalog-content__link-2
        li.catalog-content__elem-2
          a(href="#").catalog-content__link-2 
        li.catalog-content__elem-2
          a(href="#").catalog-content__link-2
        li.catalog-content__elem-2
          a(href="#").catalog-content__link-2
        li.catalog-content__elem-2
          a(href="#").catalog-content__link-2  
    .catalog-content__item
      ul.catalog-content__list-3.clearfix
        li.catalog-content__elem-3
          a(href="#").catalog-content__link-3
        li.catalog-content__elem-3
          a(href="#").catalog-content__link-3
        li.catalog-content__elem-3
          a(href="#").catalog-content__link-3
        li.catalog-content__elem-3
          a(href="#").catalog-content__link-3
        li.catalog-content__elem-3
          a(href="#").catalog-content__link-3
        li.catalog-content__elem-3
          a(href="#").catalog-content__link-3
        li.catalog-content__elem-3
          a(href="#").catalog-content__link-3
        li.catalog-content__elem-3
          a(href="#").catalog-content__link-3
        li.catalog-content__elem-3
          a(href="#").catalog-content__link-3  
