#b-catalog
  .b-catalog-switch.clearfix
    .b-form-wrap
      form(action="#" method="post")
        label.catalog-switch__label.catalog-switch__label_mod 
          span.catalog-switch__text Сортировать по
          select(name="").catalog-switch__select.catalog-switch__select_mod 
            option по цене 
            option по популярности
    span.catalog-switch__text.catalog-switch__text_mod-right Вид каталога
    .b-wrap-catalog-switch.clearfix 
      .catalog-switch__item.active
        a(href="#").catalog-switch__link.catalog-switch__link_mod-left  
      .catalog-switch__item
        a(href="#").catalog-switch__link.catalog-switch__link_mod-center  
      .catalog-switch__item
        a(href="#").catalog-switch__link.catalog-switch__link_mod-right   
  .b-catalog-content
    .catalog-content__item.active
      ul.catalog-content__list-1
        li.catalog-content__elem-1
          p.catalog-content__text-art.catalog-content__text-art-mod 
            | Артикул 
            span 189238
          p.catalog-content__text-prop.catalog-content__text-prop-mod 
            | Смартфон Samsung GT-I9301I GALAXY S...
          h5.catalog-content__price.catalog-content__price-mod 11290  
            del P  
          .catalog-content__btn-wrap.catalog-content__btn-wrap-mod
            span.price-basket__nality В наличии                                    
            button.price-basket__btn.price-basket__btn-mod-elem-3 В корзину  
        li.catalog-content__elem-1
          p.catalog-content__text-art.catalog-content__text-art-mod 
            | Артикул 
            span 189238
          p.catalog-content__text-prop.catalog-content__text-prop-mod 
            | Смартфон Samsung GT-I9301I GALAXY S...
          h5.catalog-content__price.catalog-content__price-mod 11290  
            del P  
          .catalog-content__btn-wrap.catalog-content__btn-wrap-mod
            span.price-basket__nality В наличии                                    
            button.price-basket__btn.price-basket__btn-mod-elem-3 В корзину
        li.catalog-content__elem-1
          p.catalog-content__text-art.catalog-content__text-art-mod 
            | Артикул 
            span 189238
          p.catalog-content__text-prop.catalog-content__text-prop-mod 
            | Смартфон Samsung GT-I9301I GALAXY S...
          h5.catalog-content__price.catalog-content__price-mod 11290  
            del P  
          .catalog-content__btn-wrap.catalog-content__btn-wrap-mod
            span.price-basket__nality В наличии                                    
            button.price-basket__btn.price-basket__btn-mod-elem-3 В корзину
        li.catalog-content__elem-1
          p.catalog-content__text-art.catalog-content__text-art-mod 
            | Артикул 
            span 189238
          p.catalog-content__text-prop.catalog-content__text-prop-mod 
            | Смартфон Samsung GT-I9301I GALAXY S...
          h5.catalog-content__price.catalog-content__price-mod 11290  
            del P  
          .catalog-content__btn-wrap.catalog-content__btn-wrap-mod
            span.price-basket__nality В наличии                                    
            button.price-basket__btn.price-basket__btn-mod-elem-3 В корзину
        li.catalog-content__elem-1 
          p.catalog-content__text-art.catalog-content__text-art-mod 
            | Артикул 
            span 189238
          p.catalog-content__text-prop.catalog-content__text-prop-mod 
            | Смартфон Samsung GT-I9301I GALAXY S...
          h5.catalog-content__price.catalog-content__price-mod 11290  
            del P  
          .catalog-content__btn-wrap.catalog-content__btn-wrap-mod
            span.price-basket__nality В наличии                                    
            button.price-basket__btn.price-basket__btn-mod-elem-3 В корзину
        li.catalog-content__elem-1 
          p.catalog-content__text-art.catalog-content__text-art-mod 
            | Артикул 
            span 189238
          p.catalog-content__text-prop.catalog-content__text-prop-mod 
            | Смартфон Samsung GT-I9301I GALAXY S...
          h5.catalog-content__price.catalog-content__price-mod 11290  
            del P  
          .catalog-content__btn-wrap.catalog-content__btn-wrap-mod
            span.price-basket__nality В наличии                                    
            button.price-basket__btn.price-basket__btn-mod-elem-3 В корзину
        li.catalog-content__elem-1
          p.catalog-content__text-art.catalog-content__text-art-mod 
            | Артикул 
            span 189238
          p.catalog-content__text-prop.catalog-content__text-prop-mod 
            | Смартфон Samsung GT-I9301I GALAXY S...
          h5.catalog-content__price.catalog-content__price-mod 11290  
            del P  
          .catalog-content__btn-wrap.catalog-content__btn-wrap-mod
            span.price-basket__nality В наличии                                    
            button.price-basket__btn.price-basket__btn-mod-elem-3 В корзину
        li.catalog-content__elem-1
          p.catalog-content__text-art.catalog-content__text-art-mod 
            | Артикул 
            span 189238
          p.catalog-content__text-prop.catalog-content__text-prop-mod 
            | Смартфон Samsung GT-I9301I GALAXY S...
          h5.catalog-content__price.catalog-content__price-mod 11290  
            del P  
          .catalog-content__btn-wrap.catalog-content__btn-wrap-mod
            span.price-basket__nality В наличии                                    
            button.price-basket__btn.price-basket__btn-mod-elem-3 В корзину
        li.catalog-content__elem-1 
          p.catalog-content__text-art.catalog-content__text-art-mod 
            | Артикул 
            span 189238
          p.catalog-content__text-prop.catalog-content__text-prop-mod 
            | Смартфон Samsung GT-I9301I GALAXY S...
          h5.catalog-content__price.catalog-content__price-mod 11290  
            del P  
          .catalog-content__btn-wrap.catalog-content__btn-wrap-mod
            span.price-basket__nality В наличии                                    
            button.price-basket__btn.price-basket__btn-mod-elem-3 В корзину          
    .catalog-content__item
      ul.catalog-content__list-2
        li.catalog-content__elem-2.clearfix          
          .b-slideshow.slideshow_mod-elem-2
            .b-slideshow-main
              img(src="img/slide/phone.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              - for (var n = 1; n < 4; n++) 
                li.slideshow__item.slideshow__item_mod  
                  a(href="#").slideshow__link 
                      img(src="img/slide/" +  n + ".png", alt="#").slideshow__img  
            p.slideshow__text-art 
              | Артикул 
              span 189238  
          .b-desc-merch.desc-merch_mod.clearfix
            h5.desc-merch__title Samsung GT-I9301I GALAXY S 3 
            p.desc-merch__text 
              | Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White
              | Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, 
              | EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, 
              | Частота процессора 1400 МГц... 
            ul.desc-merch__list.desc-merch__list_mod.clearfix
              - for (var n = 1; n < 6; n++)
                li.desc-merch__item                 
            .desc-merch__class.desc-merch__class_mod 
              span.desc-merch__class-text 4                  
          .b-price-basket.price-basket_mod
            h5.price-basket__text.price-basket__text_mod 11290 
              del P
            button.price-basket__btn.price-basket__btn_mod В корзину
            p.price-basket__nality.price-basket__nality_mod В наличии                                          
        li.catalog-content__elem-2.clearfix
          .b-slideshow.slideshow_mod-elem-2
            .b-slideshow-main
              img(src="img/slide/phone.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              - for (var n = 1; n < 4; n++) 
                li.slideshow__item.slideshow__item_mod  
                  a(href="#").slideshow__link 
                      img(src="img/slide/" +  n + ".png", alt="#").slideshow__img  
            p.slideshow__text-art 
              | Артикул 
              span 283135  
          .b-desc-merch.desc-merch_mod.clearfix
            h5.desc-merch__title Microsoft Lumia 640 RM-1077  
            p.desc-merch__text 
              | Вместе с новой Microsoft Lumia 640 Dual SIM (RM-1077) вы 
              | открываете мир ярких цифровых возможностей. Этот  
              | многофункциональный смартфон уже содержит набор  
              | бесплатных сервисов Microsoft... 
            ul.desc-merch__list.desc-merch__list_mod.clearfix
              - for (var n = 1; n < 6; n++)
                li.desc-merch__item                 
            .desc-merch__class.desc-merch__class_mod 
              span.desc-merch__class-text 4                  
          .b-price-basket.price-basket_mod
            h5.price-basket__text.price-basket__text_mod 10990 
              del P
            button.price-basket__btn.price-basket__btn_mod В корзину
            p.price-basket__nality.price-basket__nality_mod В наличии
        li.catalog-content__elem-2.clearfix
          .b-slideshow.slideshow_mod-elem-2
            .b-slideshow-main
              img(src="img/slide/phone.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              - for (var n = 1; n < 4; n++) 
                li.slideshow__item.slideshow__item_mod  
                  a(href="#").slideshow__link 
                      img(src="img/slide/" +  n + ".png", alt="#").slideshow__img  
            p.slideshow__text-art 
              | Артикул 
              span 189238  
          .b-desc-merch.desc-merch_mod.clearfix
            h5.desc-merch__title Samsung GT-I9301I GALAXY S 3 
            p.desc-merch__text 
              | Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White
              | Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, 
              | EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, 
              | Частота процессора 1400 МГц... 
            ul.desc-merch__list.desc-merch__list_mod.clearfix
              - for (var n = 1; n < 6; n++)
                li.desc-merch__item                 
            .desc-merch__class.desc-merch__class_mod 
              span.desc-merch__class-text 4                  
          .b-price-basket.price-basket_mod
            h5.price-basket__text.price-basket__text_mod 11290 
              del P
            button.price-basket__btn.price-basket__btn_mod В корзину
            p.price-basket__nality.price-basket__nality_mod В наличии
        li.catalog-content__elem-2.clearfix
          .b-slideshow.slideshow_mod-elem-2
            .b-slideshow-main
              img(src="img/slide/phone.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              - for (var n = 1; n < 4; n++) 
                li.slideshow__item.slideshow__item_mod  
                  a(href="#").slideshow__link 
                      img(src="img/slide/" +  n + ".png", alt="#").slideshow__img  
            p.slideshow__text-art 
              | Артикул 
              span 189238  
          .b-desc-merch.desc-merch_mod.clearfix
            h5.desc-merch__title Samsung GT-I9301I GALAXY S 3 
            p.desc-merch__text 
              | Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White
              | Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, 
              | EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, 
              | Частота процессора 1400 МГц... 
            ul.desc-merch__list.desc-merch__list_mod.clearfix
              - for (var n = 1; n < 6; n++)
                li.desc-merch__item                 
            .desc-merch__class.desc-merch__class_mod 
              span.desc-merch__class-text 4                  
          .b-price-basket.price-basket_mod
            h5.price-basket__text.price-basket__text_mod 11290 
              del P
            button.price-basket__btn.price-basket__btn_mod В корзину
            p.price-basket__nality.price-basket__nality_mod В наличии
        li.catalog-content__elem-2.clearfix
          .b-slideshow.slideshow_mod-elem-2
            .b-slideshow-main
              img(src="img/slide/phone.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              - for (var n = 1; n < 4; n++) 
                li.slideshow__item.slideshow__item_mod  
                  a(href="#").slideshow__link 
                      img(src="img/slide/" +  n + ".png", alt="#").slideshow__img  
            p.slideshow__text-art 
              | Артикул 
              span 189238  
          .b-desc-merch.desc-merch_mod.clearfix
            h5.desc-merch__title Samsung GT-I9301I GALAXY S 3 
            p.desc-merch__text 
              | Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White
              | Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, 
              | EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, 
              | Частота процессора 1400 МГц... 
            ul.desc-merch__list.desc-merch__list_mod.clearfix
              - for (var n = 1; n < 6; n++)
                li.desc-merch__item                 
            .desc-merch__class.desc-merch__class_mod 
              span.desc-merch__class-text 4                  
          .b-price-basket.price-basket_mod
            h5.price-basket__text.price-basket__text_mod 11290 
              del P
            button.price-basket__btn.price-basket__btn_mod В корзину
            p.price-basket__nality.price-basket__nality_mod В наличии
        li.catalog-content__elem-2.clearfix
          .b-slideshow.slideshow_mod-elem-2
            .b-slideshow-main
              img(src="img/slide/phone.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              - for (var n = 1; n < 4; n++) 
                li.slideshow__item.slideshow__item_mod  
                  a(href="#").slideshow__link 
                      img(src="img/slide/" +  n + ".png", alt="#").slideshow__img  
            p.slideshow__text-art 
              | Артикул 
              span 189238  
          .b-desc-merch.desc-merch_mod.clearfix
            h5.desc-merch__title Samsung GT-I9301I GALAXY S 3 
            p.desc-merch__text 
              | Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White
              | Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, 
              | EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, 
              | Частота процессора 1400 МГц... 
            ul.desc-merch__list.desc-merch__list_mod.clearfix
              - for (var n = 1; n < 6; n++)
                li.desc-merch__item                 
            .desc-merch__class.desc-merch__class_mod 
              span.desc-merch__class-text 4                  
          .b-price-basket.price-basket_mod
            h5.price-basket__text.price-basket__text_mod 11290 
              del P
            button.price-basket__btn.price-basket__btn_mod В корзину
            p.price-basket__nality.price-basket__nality_mod В наличии 
        li.catalog-content__elem-2.clearfix
          .b-slideshow.slideshow_mod-elem-2
            .b-slideshow-main
              img(src="img/slide/phone.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              - for (var n = 1; n < 4; n++) 
                li.slideshow__item.slideshow__item_mod  
                  a(href="#").slideshow__link 
                      img(src="img/slide/" +  n + ".png", alt="#").slideshow__img  
            p.slideshow__text-art 
              | Артикул 
              span 189238  
          .b-desc-merch.desc-merch_mod.clearfix
            h5.desc-merch__title Samsung GT-I9301I GALAXY S 3 
            p.desc-merch__text 
              | Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White
              | Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, 
              | EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, 
              | Частота процессора 1400 МГц... 
            ul.desc-merch__list.desc-merch__list_mod.clearfix
              - for (var n = 1; n < 6; n++)
                li.desc-merch__item                 
            .desc-merch__class.desc-merch__class_mod 
              span.desc-merch__class-text 4                  
          .b-price-basket.price-basket_mod
            h5.price-basket__text.price-basket__text_mod 11290 
              del P
            button.price-basket__btn.price-basket__btn_mod В корзину
            p.price-basket__nality.price-basket__nality_mod В наличии
        li.catalog-content__elem-2.clearfix
          .b-slideshow.slideshow_mod-elem-2
            .b-slideshow-main
              img(src="img/slide/phone.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              - for (var n = 1; n < 4; n++) 
                li.slideshow__item.slideshow__item_mod  
                  a(href="#").slideshow__link 
                      img(src="img/slide/" +  n + ".png", alt="#").slideshow__img  
            p.slideshow__text-art 
              | Артикул 
              span 189238  
          .b-desc-merch.desc-merch_mod.clearfix
            h5.desc-merch__title Samsung GT-I9301I GALAXY S 3 
            p.desc-merch__text 
              | Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White
              | Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, 
              | EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, 
              | Частота процессора 1400 МГц... 
            ul.desc-merch__list.desc-merch__list_mod.clearfix
              - for (var n = 1; n < 6; n++)
                li.desc-merch__item                 
            .desc-merch__class.desc-merch__class_mod 
              span.desc-merch__class-text 4                  
          .b-price-basket.price-basket_mod
            h5.price-basket__text.price-basket__text_mod 11290 
              del P
            button.price-basket__btn.price-basket__btn_mod В корзину
            p.price-basket__nality.price-basket__nality_mod В наличии
        li.catalog-content__elem-2.clearfix
          .b-slideshow.slideshow_mod-elem-2
            .b-slideshow-main
              img(src="img/slide/phone.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              - for (var n = 1; n < 4; n++) 
                li.slideshow__item.slideshow__item_mod  
                  a(href="#").slideshow__link 
                      img(src="img/slide/" +  n + ".png", alt="#").slideshow__img  
            p.slideshow__text-art 
              | Артикул 
              span 189238  
          .b-desc-merch.desc-merch_mod.clearfix
            h5.desc-merch__title Samsung GT-I9301I GALAXY S 3 
            p.desc-merch__text 
              | Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White
              | Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, 
              | EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, 
              | Частота процессора 1400 МГц... 
            ul.desc-merch__list.desc-merch__list_mod.clearfix
              - for (var n = 1; n < 6; n++)
                li.desc-merch__item                 
            .desc-merch__class.desc-merch__class_mod 
              span.desc-merch__class-text 4                  
          .b-price-basket.price-basket_mod
            h5.price-basket__text.price-basket__text_mod 11290 
              del P
            button.price-basket__btn.price-basket__btn_mod В корзину
            p.price-basket__nality.price-basket__nality_mod В наличии  
    .catalog-content__item
      ul.catalog-content__list-3.clearfix
        li.catalog-content__elem-3.catalog-content__elem-3_mod
          .b-slideshow.slideshow_mod-elem-3
            .b-slideshow-main
              img(src="img/slide/phone.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              - for (var n = 1; n < 4; n++) 
                li.slideshow__item.slideshow__item_mod  
                  a(href="#").slideshow__link 
                      img(src="img/slide/" +  n + ".png", alt="#").slideshow__img 
          .title-mod-elem-3__wrap
            h3.desc-merch__title-mod-elem-3 Samsung GT-I9301I GALAXY S 3              
          ul.catalog-content__list-properties
            li.catalog-content__item-properties.clearfix
              span.properties__left Тип SIM-карты
              span.properties__right Micro-SIM
            li.catalog-content__item-properties.clearfix
              span.properties__left Количество SIM-карт
              span.properties__right 1  
            li.catalog-content__item-properties.clearfix
              span.properties__left Цвет 
              span.properties__right Белый
            li.catalog-content__item-properties.clearfix
              span.properties__left ОC  
              span.properties__right Android
            li.catalog-content__item-properties.clearfix
              span.properties__left Связь 3G  
              span.properties__right Есть  
            li.catalog-content__item-properties.clearfix
              span.properties__left 4G (LTE)  
              span.properties__right Нет
            li.catalog-content__item-properties.clearfix
              span.properties__left GPS-модуль  
              span.properties__right Есть  
          .desc-merch__wrap
            ul.desc-merch__list.desc-merch__list_mod.clearfix
              - for (var n = 1; n < 6; n++)
                li.desc-merch__item                 
            .desc-merch__class 
              span.desc-merch__class-text 4 
          h5.price-basket__text.price-basket__text_mod-elem-3 11290 
            del P
          .price-basket__wrap  
            span.price-basket__nality В наличии                                    
            button.price-basket__btn.price-basket__btn-mod-elem-3 В корзину
        li.catalog-content__elem-3.catalog-content__elem-3_mod
          .b-slideshow.slideshow_mod-elem-3
            .b-slideshow-main
              img(src="img/slide/phone.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              - for (var n = 1; n < 4; n++) 
                li.slideshow__item.slideshow__item_mod  
                  a(href="#").slideshow__link 
                      img(src="img/slide/" +  n + ".png", alt="#").slideshow__img 
          .title-mod-elem-3__wrap
            h3.desc-merch__title-mod-elem-3 Samsung GT-I9301I GALAXY S 3              
          ul.catalog-content__list-properties
            li.catalog-content__item-properties.clearfix
              span.properties__left Тип SIM-карты
              span.properties__right Micro-SIM
            li.catalog-content__item-properties.clearfix
              span.properties__left Количество SIM-карт
              span.properties__right 1  
            li.catalog-content__item-properties.clearfix
              span.properties__left Цвет 
              span.properties__right Белый
            li.catalog-content__item-properties.clearfix
              span.properties__left ОC  
              span.properties__right Android
            li.catalog-content__item-properties.clearfix
              span.properties__left Связь 3G  
              span.properties__right Есть  
            li.catalog-content__item-properties.clearfix
              span.properties__left 4G (LTE)  
              span.properties__right Нет
            li.catalog-content__item-properties.clearfix
              span.properties__left GPS-модуль  
              span.properties__right Есть  
          .desc-merch__wrap
            ul.desc-merch__list.desc-merch__list_mod.clearfix
              - for (var n = 1; n < 6; n++)
                li.desc-merch__item                 
            .desc-merch__class 
              span.desc-merch__class-text 4 
          h5.price-basket__text.price-basket__text_mod-elem-3 11290 
            del P
          .price-basket__wrap  
            span.price-basket__nality В наличии                                    
            button.price-basket__btn.price-basket__btn-mod-elem-3 В корзину
        li.catalog-content__elem-3.catalog-content__elem-3_mod
          .b-slideshow.slideshow_mod-elem-3
            .b-slideshow-main
              img(src="img/slide/phone.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              - for (var n = 1; n < 4; n++) 
                li.slideshow__item.slideshow__item_mod  
                  a(href="#").slideshow__link 
                      img(src="img/slide/" +  n + ".png", alt="#").slideshow__img 
          .title-mod-elem-3__wrap
            h3.desc-merch__title-mod-elem-3 Samsung GT-I9301I GALAXY S 3              
          ul.catalog-content__list-properties
            li.catalog-content__item-properties.clearfix
              span.properties__left Тип SIM-карты
              span.properties__right Micro-SIM
            li.catalog-content__item-properties.clearfix
              span.properties__left Количество SIM-карт
              span.properties__right 1  
            li.catalog-content__item-properties.clearfix
              span.properties__left Цвет 
              span.properties__right Белый
            li.catalog-content__item-properties.clearfix
              span.properties__left ОC  
              span.properties__right Android
            li.catalog-content__item-properties.clearfix
              span.properties__left Связь 3G  
              span.properties__right Есть  
            li.catalog-content__item-properties.clearfix
              span.properties__left 4G (LTE)  
              span.properties__right Нет
            li.catalog-content__item-properties.clearfix
              span.properties__left GPS-модуль  
              span.properties__right Есть  
          .desc-merch__wrap
            ul.desc-merch__list.desc-merch__list_mod.clearfix
              - for (var n = 1; n < 6; n++)
                li.desc-merch__item                 
            .desc-merch__class 
              span.desc-merch__class-text 4 
          h5.price-basket__text.price-basket__text_mod-elem-3 11290 
            del P
          .price-basket__wrap  
            span.price-basket__nality В наличии                                    
            button.price-basket__btn.price-basket__btn-mod-elem-3 В корзину
        li.catalog-content__elem-3.catalog-content__elem-3_mod
          .b-slideshow.slideshow_mod-elem-3
            .b-slideshow-main
              img(src="img/slide/phone.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              - for (var n = 1; n < 4; n++) 
                li.slideshow__item.slideshow__item_mod  
                  a(href="#").slideshow__link 
                      img(src="img/slide/" +  n + ".png", alt="#").slideshow__img 
          .title-mod-elem-3__wrap
            h3.desc-merch__title-mod-elem-3 Samsung GT-I9301I GALAXY S 3              
          ul.catalog-content__list-properties
            li.catalog-content__item-properties.clearfix
              span.properties__left Тип SIM-карты
              span.properties__right Micro-SIM
            li.catalog-content__item-properties.clearfix
              span.properties__left Количество SIM-карт
              span.properties__right 1  
            li.catalog-content__item-properties.clearfix
              span.properties__left Цвет 
              span.properties__right Белый
            li.catalog-content__item-properties.clearfix
              span.properties__left ОC  
              span.properties__right Android
            li.catalog-content__item-properties.clearfix
              span.properties__left Связь 3G  
              span.properties__right Есть  
            li.catalog-content__item-properties.clearfix
              span.properties__left 4G (LTE)  
              span.properties__right Нет
            li.catalog-content__item-properties.clearfix
              span.properties__left GPS-модуль  
              span.properties__right Есть  
          .desc-merch__wrap
            ul.desc-merch__list.desc-merch__list_mod.clearfix
              - for (var n = 1; n < 6; n++)
                li.desc-merch__item                 
            .desc-merch__class 
              span.desc-merch__class-text 4 
          h5.price-basket__text.price-basket__text_mod-elem-3 11290 
            del P
          .price-basket__wrap  
            span.price-basket__nality В наличии                                    
            button.price-basket__btn.price-basket__btn-mod-elem-3 В корзину
        li.catalog-content__elem-3.catalog-content__elem-3_mod
          .b-slideshow.slideshow_mod-elem-3
            .b-slideshow-main
              img(src="img/slide/phone.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              - for (var n = 1; n < 4; n++) 
                li.slideshow__item.slideshow__item_mod  
                  a(href="#").slideshow__link 
                      img(src="img/slide/" +  n + ".png", alt="#").slideshow__img 
          .title-mod-elem-3__wrap
            h3.desc-merch__title-mod-elem-3 Samsung GT-I9301I GALAXY S 3              
          ul.catalog-content__list-properties
            li.catalog-content__item-properties.clearfix
              span.properties__left Тип SIM-карты
              span.properties__right Micro-SIM
            li.catalog-content__item-properties.clearfix
              span.properties__left Количество SIM-карт
              span.properties__right 1  
            li.catalog-content__item-properties.clearfix
              span.properties__left Цвет 
              span.properties__right Белый
            li.catalog-content__item-properties.clearfix
              span.properties__left ОC  
              span.properties__right Android
            li.catalog-content__item-properties.clearfix
              span.properties__left Связь 3G  
              span.properties__right Есть  
            li.catalog-content__item-properties.clearfix
              span.properties__left 4G (LTE)  
              span.properties__right Нет
            li.catalog-content__item-properties.clearfix
              span.properties__left GPS-модуль  
              span.properties__right Есть  
          .desc-merch__wrap
            ul.desc-merch__list.desc-merch__list_mod.clearfix
              - for (var n = 1; n < 6; n++)
                li.desc-merch__item                 
            .desc-merch__class 
              span.desc-merch__class-text 4 
          h5.price-basket__text.price-basket__text_mod-elem-3 11290 
            del P
          .price-basket__wrap  
            span.price-basket__nality В наличии                                    
            button.price-basket__btn.price-basket__btn-mod-elem-3 В корзину
        li.catalog-content__elem-3.catalog-content__elem-3_mod
          .b-slideshow.slideshow_mod-elem-3
            .b-slideshow-main
              img(src="img/slide/phone.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              - for (var n = 1; n < 4; n++) 
                li.slideshow__item.slideshow__item_mod  
                  a(href="#").slideshow__link 
                      img(src="img/slide/" +  n + ".png", alt="#").slideshow__img 
          .title-mod-elem-3__wrap
            h3.desc-merch__title-mod-elem-3 Samsung GT-I9301I GALAXY S 3              
          ul.catalog-content__list-properties
            li.catalog-content__item-properties.clearfix
              span.properties__left Тип SIM-карты
              span.properties__right Micro-SIM
            li.catalog-content__item-properties.clearfix
              span.properties__left Количество SIM-карт
              span.properties__right 1  
            li.catalog-content__item-properties.clearfix
              span.properties__left Цвет 
              span.properties__right Белый
            li.catalog-content__item-properties.clearfix
              span.properties__left ОC  
              span.properties__right Android
            li.catalog-content__item-properties.clearfix
              span.properties__left Связь 3G  
              span.properties__right Есть  
            li.catalog-content__item-properties.clearfix
              span.properties__left 4G (LTE)  
              span.properties__right Нет
            li.catalog-content__item-properties.clearfix
              span.properties__left GPS-модуль  
              span.properties__right Есть  
          .desc-merch__wrap
            ul.desc-merch__list.desc-merch__list_mod.clearfix
              - for (var n = 1; n < 6; n++)
                li.desc-merch__item                 
            .desc-merch__class 
              span.desc-merch__class-text 4 
          h5.price-basket__text.price-basket__text_mod-elem-3 11290 
            del P
          .price-basket__wrap  
            span.price-basket__nality В наличии                                    
            button.price-basket__btn.price-basket__btn-mod-elem-3 В корзину
        li.catalog-content__elem-3.catalog-content__elem-3_mod
          .b-slideshow.slideshow_mod-elem-3
            .b-slideshow-main
              img(src="img/slide/phone.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              - for (var n = 1; n < 4; n++) 
                li.slideshow__item.slideshow__item_mod  
                  a(href="#").slideshow__link 
                      img(src="img/slide/" +  n + ".png", alt="#").slideshow__img 
          .title-mod-elem-3__wrap
            h3.desc-merch__title-mod-elem-3 Samsung GT-I9301I GALAXY S 3              
          ul.catalog-content__list-properties
            li.catalog-content__item-properties.clearfix
              span.properties__left Тип SIM-карты
              span.properties__right Micro-SIM
            li.catalog-content__item-properties.clearfix
              span.properties__left Количество SIM-карт
              span.properties__right 1  
            li.catalog-content__item-properties.clearfix
              span.properties__left Цвет 
              span.properties__right Белый
            li.catalog-content__item-properties.clearfix
              span.properties__left ОC  
              span.properties__right Android
            li.catalog-content__item-properties.clearfix
              span.properties__left Связь 3G  
              span.properties__right Есть  
            li.catalog-content__item-properties.clearfix
              span.properties__left 4G (LTE)  
              span.properties__right Нет
            li.catalog-content__item-properties.clearfix
              span.properties__left GPS-модуль  
              span.properties__right Есть  
          .desc-merch__wrap
            ul.desc-merch__list.desc-merch__list_mod.clearfix
              - for (var n = 1; n < 6; n++)
                li.desc-merch__item                 
            .desc-merch__class 
              span.desc-merch__class-text 4 
          h5.price-basket__text.price-basket__text_mod-elem-3 11290 
            del P
          .price-basket__wrap  
            span.price-basket__nality В наличии                                    
            button.price-basket__btn.price-basket__btn-mod-elem-3 В корзину
        li.catalog-content__elem-3.catalog-content__elem-3_mod
          .b-slideshow.slideshow_mod-elem-3
            .b-slideshow-main
              img(src="img/slide/phone.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              - for (var n = 1; n < 4; n++) 
                li.slideshow__item.slideshow__item_mod  
                  a(href="#").slideshow__link 
                      img(src="img/slide/" +  n + ".png", alt="#").slideshow__img 
          .title-mod-elem-3__wrap
            h3.desc-merch__title-mod-elem-3 Samsung GT-I9301I GALAXY S 3              
          ul.catalog-content__list-properties
            li.catalog-content__item-properties.clearfix
              span.properties__left Тип SIM-карты
              span.properties__right Micro-SIM
            li.catalog-content__item-properties.clearfix
              span.properties__left Количество SIM-карт
              span.properties__right 1  
            li.catalog-content__item-properties.clearfix
              span.properties__left Цвет 
              span.properties__right Белый
            li.catalog-content__item-properties.clearfix
              span.properties__left ОC  
              span.properties__right Android
            li.catalog-content__item-properties.clearfix
              span.properties__left Связь 3G  
              span.properties__right Есть  
            li.catalog-content__item-properties.clearfix
              span.properties__left 4G (LTE)  
              span.properties__right Нет
            li.catalog-content__item-properties.clearfix
              span.properties__left GPS-модуль  
              span.properties__right Есть  
          .desc-merch__wrap
            ul.desc-merch__list.desc-merch__list_mod.clearfix
              - for (var n = 1; n < 6; n++)
                li.desc-merch__item                 
            .desc-merch__class 
              span.desc-merch__class-text 4 
          h5.price-basket__text.price-basket__text_mod-elem-3 11290 
            del P
          .price-basket__wrap  
            span.price-basket__nality В наличии                                    
            button.price-basket__btn.price-basket__btn-mod-elem-3 В корзину
        li.catalog-content__elem-3.catalog-content__elem-3_mod
          .b-slideshow.slideshow_mod-elem-3
            .b-slideshow-main
              img(src="img/slide/phone.png").slideshow-main__img   
            ul.slideshow__list.clearfix
              - for (var n = 1; n < 4; n++) 
                li.slideshow__item.slideshow__item_mod  
                  a(href="#").slideshow__link 
                      img(src="img/slide/" +  n + ".png", alt="#").slideshow__img 
          .title-mod-elem-3__wrap
            h3.desc-merch__title-mod-elem-3 Samsung GT-I9301I GALAXY S 3              
          ul.catalog-content__list-properties
            li.catalog-content__item-properties.clearfix
              span.properties__left Тип SIM-карты
              span.properties__right Micro-SIM
            li.catalog-content__item-properties.clearfix
              span.properties__left Количество SIM-карт
              span.properties__right 1  
            li.catalog-content__item-properties.clearfix
              span.properties__left Цвет 
              span.properties__right Белый
            li.catalog-content__item-properties.clearfix
              span.properties__left ОC  
              span.properties__right Android
            li.catalog-content__item-properties.clearfix
              span.properties__left Связь 3G  
              span.properties__right Есть  
            li.catalog-content__item-properties.clearfix
              span.properties__left 4G (LTE)  
              span.properties__right Нет
            li.catalog-content__item-properties.clearfix
              span.properties__left GPS-модуль  
              span.properties__right Есть  
          .desc-merch__wrap
            ul.desc-merch__list.desc-merch__list_mod.clearfix
              - for (var n = 1; n < 6; n++)
                li.desc-merch__item                 
            .desc-merch__class 
              span.desc-merch__class-text 4 
          h5.price-basket__text.price-basket__text_mod-elem-3 11290 
            del P
          .price-basket__wrap  
            span.price-basket__nality В наличии                                    
            button.price-basket__btn.price-basket__btn-mod-elem-3 В корзину
  .b-switch-pages.switch-pages_mod
    ul.switch-pages__list.clearfix
      li.switch-pages__item
        a(href="#").switch-pages__link  
      li.switch-pages__item
        a(href="#").switch-pages__link
          span.switch-pages__text 1
      li.switch-pages__item
        a(href="#").switch-pages__link
          span.switch-pages__text 2
      li.switch-pages__item
        a(href="#").switch-pages__link 
          span.switch-pages__text 3
      li.switch-pages__item
        a(href="#").switch-pages__link       
