section.b-breadcrumbs-wrap
  ul.breadcrumbs__list.clearfix
    li.breadcrumbs__item
      a(href="index.html").breadcrumbs__link
        span.breadcrumbs__text Главная
    li.breadcrumbs__item
      a(href="#").breadcrumbs__link
        span.breadcrumbs__text Каталог    
  h2.b-breadcrumbs-wrap__title Мобильные телефоны
section.b-maincontent-wrap
  aside.b-sidebar
    .b-choice
        ul.range__list
          each item in ['Флагманы', 'Бюджетная линейка']
            li.range__item
              a(href="#").range__link
                span.range__text= item             
    .b-accordeon
      ul.accordeon__list
        li.accordeon__item 
          a(href="#").accordeon__trigger  
            span.accordeon__text Наличае в магазинах
          ul.accordeon__inner
            li.accordeon__inner__item
              form.form(action="#")
                label
                  input(type="radio" class="form__input") 
                  p.form__text Во всех магазинах
                label
                  input(type="radio" class="form__input") 
                  p.form__text В ближайшем ко мне магазине    
        li.accordeon__item 
          a(href="#").accordeon__trigger  
            span.accordeon__text Бренды
          ul.accordeon__inner
            li.accordeon__inner__item
              form.form(action="#")
                each mob in ['Lenovo', 'Apple', 'Samsung', 'Asus', 'Motorola']
                  label
                    input(type="checkbox" class="form__input") 
                    p.form__text= mob 
                .form-btn-wrap    
                  a(href="#").form-button  Сбросить фильтр  
        li.accordeon__item 
          a(href="#").accordeon__trigger  
            span.accordeon__text Цена
          ul.accordeon__inner
            li.accordeon__inner__item
              span.accordeon__text Тест
        li.accordeon__item 
          a(href="#").accordeon__trigger  
            span.accordeon__text Цвет
          ul.accordeon__inner
            li.accordeon__inner__item
              .box__list.box__list_mod.clearfix
                - for (var n = 1; n < 13; n++)   
                    .box__item.box__item_mod       
        li.accordeon__item 
          a(href="#").accordeon__trigger  
            span.accordeon__text Операционные системы
          ul.accordeon__inner
            li.accordeon__inner__item
              form.form(action="#")
                each OS in ['Android', 'iOS', 'Windows Mobile', 'Symbian', 'Custom']
                  label
                    input(type="checkbox" class="form__input") 
                    p.form__text= OS 
                .form-btn-wrap    
                  a(href="#").form-button Сбросить фильтр                
