section.b-breadcrumbs-wrap
  ul.breadcrumbs__list.clearfix
    li.breadcrumbs__item
      a(href="index.html").breadcrumbs__link
        span.breadcrumbs__text Главная
    li.breadcrumbs__item
      a(href="#").breadcrumbs__link.breadcrumbs__link_mod-cat.active
        span.breadcrumbs__text Каталог    
  h2.b-breadcrumbs-wrap__title Мобильные телефоны
aside.b-sidebar
    .b-choice
      ul.range__list
        each item in ['Флагманы', 'Бюджетная линейка']
          li.range__item
            a(href="#").range__link
              span.range__text= item    
    .b-accordeon-wrap                   
      .b-accordeon
        ul.accordeon__list
          li.accordeon__item 
            a(href="#").accordeon__trigger  
              span.accordeon__text Наличае в магазинах
              span.accordeon__arrow
            ul.accordeon__inner
              li.accordeon__inner-item
                .form-wrap
                  form(action="#" method="#")
                    input(type="radio" name="name" id="fr-1" class="form__radio") 
                    label(for="fr-1").form__ladel Во всех магазинах
                    input(type="radio" name="name" id="fr-2" class="form__radio") 
                    label(for="fr-2").form__ladel В ближайшем ко мне магазине   
          li.accordeon__item 
            a(href="#").accordeon__trigger  
              span.accordeon__text Бренды
              span.accordeon__arrow
            ul.accordeon__inner
              li.accordeon__inner-item
                .form-wrap
                  form(action="#" method="#")                                     
                    input(type="checkbox" name="name" id="fc-1" class="form__checkbox")
                    label(for="fc-1").form__label Lenovo
                    input(type="checkbox" name="name" id="fc-2" class="form__checkbox")
                    label(for="fc-2").form__label Apple
                    input(type="checkbox" name="name" id="fc-3" class="form__checkbox") 
                    label(for="fc-3").form__label Samsung
                    input(type="checkbox" name="name" id="fc-4" class="form__checkbox") 
                    label(for="fc-4").form__label Asus
                    input(type="checkbox" name="name" id="fc-5" class="form__checkbox") 
                    label(for="fc-5").form__label Motorola 
                    .form-btn-wrap.form-btn-wrap_mod    
                      a(href="#").reset__btn-filter  Сбросить фильтр  
          li.accordeon__item 
            a(href="#").accordeon__trigger  
              span.accordeon__text Цена
              span.accordeon__arrow
            ul.accordeon__inner
              li.accordeon__inner-item
                p
                  label(for="amount-1").accordeon__inner-item_label-left 
                  span от
                  input(type="text").accordeon__inner-item_input-slider#amount-1
                  label(for="amount-2").accordeon__inner-item_label-right 
                  span до
                  input(type="text").accordeon__inner-item_input-slider#amount-2
                #slider-range
          li.accordeon__item 
            a(href="#").accordeon__trigger  
              span.accordeon__text Цвет
              span.accordeon__arrow
            ul.accordeon__inner
              li.accordeon__inner-item
                .box__list.box__list_mod.clearfix
                  - for (var n = 1; n < 13; n++)   
                      .box__item.box__item_mod       
          li.accordeon__item 
            a(href="#").accordeon__trigger  
              span.accordeon__text Операционные системы
              span.accordeon__arrow
            ul.accordeon__inner
              li.accordeon__inner-item
                .form-wrap
                  form(action="#" method="#")                                     
                    input(type="checkbox" name="name" id="fco-1" class="form__checkbox")
                    label(for="fco-1").form__label Android
                    input(type="checkbox" name="name" id="fco-2" class="form__checkbox")
                    label(for="fco-2").form__label iOS
                    input(type="checkbox" name="name" id="fco-3" class="form__checkbox") 
                    label(for="fco-3").form__label Windows
                    input(type="checkbox" name="name" id="fco-4" class="form__checkbox") 
                    label(for="fco-4").form__label Symbian
                    input(type="checkbox" name="name" id="fco-5" class="form__checkbox") 
                    label(for="fco-5").form__label Custom 
                    .form-btn-wrap.form-btn-wrap_mod    
                      a(href="#").reset__btn-filter  Сбросить фильтр                
