section.b-breadcrumbs-wrap
  ul.breadcrumbs__list.clearfix
    li.breadcrumbs__item
      a(href="index.html").breadcrumbs__link
        span.breadcrumbs__text Главная
    li.breadcrumbs__item
      a(href="#").breadcrumbs__link.breadcrumbs__link_mod-cat.active
        span.breadcrumbs__text Каталог    
  h2.b-breadcrumbs-wrap__title Мобильные телефоны
aside.b-sidebar
    .b-choice
      ul.range__list
        each item in ['Флагманы', 'Бюджетная линейка']
          li.range__item
            a(href="#").range__link
              span.range__text= item    
    .b-accordeon-wrap                   
      .b-accordeon
        ul.accordeon__list
          li.accordeon__item 
            a(href="#").accordeon__trigger  
              span.accordeon__text Наличае в магазинах
            ul.accordeon__inner
              li.accordeon__inner-item
                form(action="#" method="post")
                  label
                    input(type="radio" class="form__input") 
                    p.form__text Во всех магазинах
                  label
                    input(type="radio" class="form__input") 
                    p.form__text В ближайшем ко мне магазине    
          li.accordeon__item 
            a(href="#").accordeon__trigger  
              span.accordeon__text Бренды
            ul.accordeon__inner
              li.accordeon__inner-item
                .form-wrap
                  form(action="#" method="post")
                    label(for="form__input") Lenovo                   
                    input(type="checkbox")#form__input.form__input
                    label(for="form__input") Apple                   
                    input(type="checkbox")#form__input.form__input
                    label(for="form__input") Samsung                   
                    input(type="checkbox")#form__input.form__input
                    label(for="form__input") Asus                   
                    input(type="checkbox")#form__input.form__input
                    label(for="form__input") Motorola                   
                    input(type="checkbox")#form__input.form__input   
                    .form-btn-wrap    
                    a(href="#").form-button  Сбросить фильтр  
          li.accordeon__item 
            a(href="#").accordeon__trigger  
              span.accordeon__text Цена
            ul.accordeon__inner
              li.accordeon__inner-item
                p
                  label(for="amount-1").accordeon__inner-item_label-left 
                  span от
                  input(type="text").accordeon__inner-item_input-slider#amount-1
                  label(for="amount-2").accordeon__inner-item_label-right 
                  span до
                  input(type="text").accordeon__inner-item_input-slider#amount-2
                #slider-range
          li.accordeon__item 
            a(href="#").accordeon__trigger  
              span.accordeon__text Цвет
            ul.accordeon__inner
              li.accordeon__inner-item
                .box__list.box__list_mod.clearfix
                  - for (var n = 1; n < 13; n++)   
                      .box__item.box__item_mod       
          li.accordeon__item 
            a(href="#").accordeon__trigger  
              span.accordeon__text Операционные системы
            ul.accordeon__inner
              li.accordeon__inner-item
                form.form(action="#")
                  each OS in ['Android', 'iOS', 'Windows Mobile', 'Symbian', 'Custom']
                    label
                      input(type="checkbox" class="form__input") 
                      p.form__text= OS 
                  .form-btn-wrap    
                    a(href="#").form-button Сбросить фильтр                
